{# Cisco IOS-XE/IOS Base Configuration Template #}
{# ============================================== #}

{# Global Configuration #}
{% if global %}
hostname {{ global.hostname }}
{% if 'domain_name' in global and global.domain_name %}
ip domain-name {{ global.domain_name }}
{% endif %}
{% if 'enable_secret' in global and global.enable_secret %}
enable secret {{ global.enable_secret }}
{% endif %}

{# Banner #}
{% if 'banner_motd' in global and global.banner_motd %}
banner motd ^
{{ global.banner_motd }}
^
{% endif %}

{# Timezone & NTP #}
{% if 'timezone' in global and global.timezone %}
clock timezone {{ global.timezone }}
{% endif %}
{% for ntp in global.ntp_servers | default([]) %}
ntp server {{ ntp }}
{% endfor %}

{# DNS #}
{% for dns in global.dns_servers | default([]) %}
ip name-server {{ dns }}
{% endfor %}

{# Logging #}
{% for log_server in global.logging_servers | default([]) %}
logging host {{ log_server }}
{% endfor %}

{# SNMP #}
{% if 'snmp' in global and global.snmp %}
{% if 'enabled' in global.snmp and global.snmp.enabled %}
{% include '_snmp.j2' %}
{% endif %}
{% endif %}

{# AAA #}
{% if 'aaa' in global and global.aaa %}
{% if 'enabled' in global.aaa and global.aaa.enabled %}
{% include '_aaa.j2' %}
{% endif %}
{% endif %}

{# Users #}
{% for user in global.users | default([]) %}
username {{ user.username }} privilege {{ user.privilege | default(15) }} secret {{ user.secret }}
{% if user.ssh_key %}
ip ssh pubkey-chain
  username {{ user.username }}
    key-string
{{ user.ssh_key | indent(6, first=true) }}
    exit
  exit
{% endif %}
{% endfor %}

{% endif %}{# end global #}

{# Layer 2 Configuration #}
{% if l2 %}
{% include '_l2.j2' %}
{% endif %}

{# Layer 3 Configuration #}
{% if l3 %}
{% include '_l3.j2' %}
{% endif %}

{# VXLAN / EVPN Configuration #}
{% if vxlan and vxlan.enabled %}
{% include '_vxlan.j2' %}
{% endif %}

{# VPN & Overlay (FlexVPN, GET VPN, L2TPv3, OTV, SD-WAN) #}
{% if vpn and (vpn.get('flexvpn') or vpn.get('getvpn') or vpn.get('l2tpv3') or vpn.get('otv') or vpn.get('sdwan')) %}
{% include '_vpn_overlay.j2' %}
{% endif %}

{# ACLs #}
{% if acls %}
{% include '_acls.j2' %}
{% endif %}

{# Advanced Security (CoPP, iACLs, IPv6 ACLs, Time-based ACLs, TrustSec, NBAR2) #}
{% if security and (security.get('copp') or security.get('iacls') or security.get('ipv6_acls') or security.get('time_based_acls') or security.get('trustsec') or security.get('nbar')) %}
{% include '_security_advanced.j2' %}
{% endif %}

{# Management (SSH, Lines, Banners, Archive, Smart Licensing, DNS) #}
{% if management and (management.get('ssh') or management.get('lines') or management.get('banners') or management.get('archive') or management.get('smart_licensing') or management.get('dns')) %}
{% include '_management.j2' %}
{% endif %}

!
end
